<footer class="mt-5 bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>ARKEYEZ is a startup offering ERP and CRM solutions.</p>
            </div>

            <!-- Links -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker me-2"></i>Tunisia, Tataouine Nord</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="text-center text-white bg-dark py-2">
    <p>&copy; 2024 Aicha Khorchani. All rights reserved.</p>
</div>
