{% extends "components/base2.html" %}
{% load static %}

{% block title %}COM ARKEYEZ | Add Order{% endblock %}

{% block content %}

            <div class="row align-items-center">
                <div class="header-text mb-4"><h3>Add a New Order</h3></div>
                <form method="POST" id="commandForm">
                    {% csrf_token %}
                    
                    <label for="customer_id" class="form-label">Customer:</label>
                    <select name="customer_id" id="customer_id" class="form-select mb-3" required>
                        <option value="" disabled selected>Choose a customer</option>
                        {% for customer in customers %}
                            <option value="{{ customer.customer }}">{{ customer.customer_name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="delivery_id" class="form-label">Delivery:</label>
                    <select name="delivery_id" id="delivery_id" class="form-select mb-3" required>
                        <option value="" disabled selected>Choose a delivery person</option>
                        {% for delivery in deliveries %}
                            <option value="{{ delivery.delivery_id }}">{{ delivery.delivery_person }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="order_date" class="form-label">Order Date:</label>
                    <input type="date" id="order_date" name="order_date" class="form-control mb-3" required>
                    
                    <label for="shipping_address" class="form-label">Shipping Address:</label>
                    <textarea id="shipping_address" name="shipping_address" class="form-control mb-3" rows="2" required></textarea>
                    
                    <h4>Order Lines</h4>
                    <div id="orderLinesContainer"></div>
                    <input type="hidden" name="variant_combinations" id="variant_combinations">
                    
<div class="d-flex gap-2 mb-3">
    <button type="button" id="addRowButton" class="btn btn-success flex-fill">Add Row</button>
    <button type="button" id="removeRowButton" class="btn btn-danger flex-fill">Remove Last Row</button>
    <button type="submit" class="btn btn-primary flex-fill">Submit</button>
</div>

                </form>
            </div>
        </div>
    </div>
</div>
{% block extra_scripts %}
<script src="{% static 'add_command.js' %}"></script>
{% endblock %}
{% endblock %}

