{% extends "components/base2.html" %}
{% load static %}

{% block title %}COM ARKEYEZ | Add Lead{% endblock %}

{% block content %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h3>Add a New Lead</h3>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" id="company_name" name="company_name" class="form-control form-control-lg bg-light fs-6" placeholder="Company Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="contact_person" name="contact_person" class="form-control form-control-lg bg-light fs-6" placeholder="Contact Person" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="contact" name="contact" class="form-control form-control-lg bg-light fs-6" placeholder="Contact" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="position" name="position" class="form-control form-control-lg bg-light fs-6" placeholder="Position" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="score" name="score" class="form-control form-control-lg bg-light fs-6" placeholder="Lead Score" required>
                    </div>
                    <div class="input-group mb-3">
                        <textarea id="description" name="description" class="form-control form-control-lg bg-light fs-6" rows="3" placeholder="Description" required>Add any useful information about the lead</textarea>
                    </div>

                    <!-- Buttons Row -->
                    <div class="d-flex gap-2 mb-3">
                        <button class="btn btn-primary flex-fill fs-6" type="submit">Add Lead</button>
                        <a href="{% url 'all_leads' %}" class="btn btn-secondary flex-fill fs-6 text-white text-center">Show All Leads</a>
                    </div>
                </form>
</div>
{% endblock %}
