{% extends "components/base2.html" %}
{% load static %}

{% block title %} {{COM_AICHA}}  | Add Note{% endblock %}

{% block content %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h3>Add Note</h3>
                </div>

                <form method="POST" action="{% url 'add_note' %}" id="AddNoteForm">
                    {% csrf_token %}

                    <label for="customer_id" class="form-label">Select Customer:</label>
                    <select name="customer_id" id="customer_id" class="form-select mb-3" required>
                        <option value="" disabled selected>Choose a customer</option>
                        {% for customer in customers %}
                            <option value="{{ customer.customer }}">{{ customer.customer_name }}</option>
                        {% endfor %}
                    </select>

                    <label for="command_id" class="form-label">Select Command:</label>
                    <select id="command_id" name="command_id" class="form-select mb-3" required>
                        <option value="" disabled selected>Choose a command</option>
                    </select>

                    <div class="input-group mb-3">
                        <textarea id="note" name="note" class="form-control form-control-lg" rows="3" placeholder="Add delivery note" required></textarea>
                    </div>

                    <!-- Buttons Row -->
                    <div class="d-flex gap-2 mb-3">
                        <button type="submit" class="btn btn-primary flex-fill fs-6">Add Note</button>
                        <a href="{% url 'get_command' %}" class="btn btn-secondary flex-fill fs-6 text-white text-center">Show All Orders</a>
                    </div>
                </form>
</div>
{% block extra_js %}
<script src="{% static 'add_note.js' %}"></script>
{% endblock %}

{% endblock %}

