{% extends "components/base2.html" %}
{% load static %}

{% block title %}COM ARKEYEZ | Home{% endblock %}

{% block content %}

<div class="row align-items-center">

    <div class="header-text mb-4">
        <h2>Hello, Again</h2>
        <p>We are happy to have you back.</p>
    </div>

    <!-- Create User -->
    <div class="input-group mb-3 d-flex justify-content-center">
<a href="{% url 'user_create' %}" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Create New User</a>

    </div>

    <!-- Create Delivery User -->
    <div class="input-group mb-3 d-flex justify-content-center">
<a href="{% url 'livreur_create_view' %}" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Create Delivery User</a>
    </div>

    <!-- List Users -->
    <div class="input-group mb-3 d-flex justify-content-center">
<a href="{% url 'user_list' %}" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">List of All Users</a>
    </div>

    <!-- Create Admin -->
    <div class="input-group mb-3 d-flex justify-content-center">
<a href="{% url 'admin_user_create' %}" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Create Admin</a>
    </div>

    <!-- List Admins -->
    <div class="input-group mb-3 d-flex justify-content-center">
<a href="{% url 'admin_user_list' %}" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">List of Admins</a>
    </div>

</div>

{% endblock %}
