{% extends "components/base_table.html" %}
{% block page_title %} {{COM_AICHA}} | Leads{% endblock %}
{% block table_title %}The list of all leads{% endblock %}

{% block search_bar %}
<form class="d-flex" method="GET" action="{% url 'search_lead' %}">
    <input type="search" name="search" class="form-control me-2"
           placeholder="Search by company id...">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Company Name</th>
    <th>Contact Person</th>
    <th>Position</th>
    <th>Contact</th>
    <th>Score</th>
    <th>Description</th>
    <th>Actions</th>
{% endblock %}

{% block table_rows %}
    {% for lead in leads %}
    <tr>
        <td>{{ lead.lead }}</td>
        <td>{{ lead.company_name }}</td>
        <td>{{ lead.contact_person }}</td>
        <td>{{ lead.position }}</td>
        <td>{{ lead.contact }}</td>
        <td>{{ lead.score }}</td>
        <td>{{ lead.description }}</td>
        <td>
            <a href="{% url 'updatelead' lead.lead %}">
                <button class="btn btn-sm btn-custom">Edit</button>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" class="text-center">No lead available.</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block table_actions %}
<a href="{% url 'delete_lead' %}" class="btn btn-sm btn-danger">
    <i class="fas fa-trash"></i> Delete Lead
</a>
{% endblock %}
