{% extends "components/base_table.html" %}
{% block title %} {{COM_AICHA}} | Customers{% endblock %}
{% block table_title %}The list of all customers{% endblock %}

{% block search_bar %}
    <form class="d-flex" method="GET" action="{% url 'search_customers' %}">
        <input type="search" name="searched" class="form-control me-2"
         placeholder="Search by name...">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block table_headers %}
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Customer Type</th>
                <th>Actions</th>
{% endblock %}

{% block table_rows %}
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.contact_person }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.customer_type }}</td>

                <td>
                    <a href="{% url 'updatecustomer' customer.customer %}">
                        <button class="btn btn-sm btn-custom">Edit</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No customers found.</td>
            </tr>
            {% endfor %}
{% endblock %}

{% block table_actions %}
    <a href="{% url 'deletecustomer' %}" class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i> Delete customer </a>
{% endblock %}

