{% extends "components/base_table.html" %}

{% block page_title %} {{COM_AICHA}} | Lead Details{% endblock %}

{% block table_title %}The lead's details list{% endblock %}

{% block search_bar %}
<form class="d-flex" method="GET" action="{% url 'search_leaddata' %}">
    {% csrf_token %}
    <input type="search" aria-label="Search" name="search" id="search" class="form-control me-2" placeholder="Search by company id...">
    <button class="search-button btn btn-primary" type="submit">Search</button>
</form>
{% endblock %}

{% block table_headers %}
    <th>Company Name</th>
    <th>Owner</th>
    <th>Contract File</th>
    <th>Next Date</th>
    <th>Revenue</th>
    <th>Size</th>
    <th>Number</th>
    <th>Score</th>
    <th>Worker</th>
    <th>Lead Source</th>
    <th>Sector</th>
    <th>Status</th>
    <th>Actions</th>
{% endblock %}

{% block table_rows %}
{% for leaddata in leaddatas %}
<tr>
    <td>{{ leaddata.lead.company_name }}</td>
    <td>{{ leaddata.owner }}</td>
    <td>{{ leaddata.contract_file }}</td>
    <td>{{ leaddata.nextdate }}</td>
    <td>{{ leaddata.revenue }}</td>
    <td>{{ leaddata.size }}</td>
    <td>{{ leaddata.number }}</td>
    <td>{{ leaddata.score }}</td>
    <td>{{ leaddata.worker }}</td>
    <td>{{ leaddata.leadsrc }}</td>
    <td>{{ leaddata.sector }}</td>
    <td>{{ leaddata.status }}</td>
    <td>
        <a href="{% url 'update_leaddata' leaddata.id %}">
            <button class="btn btn-sm btn-custom">Edit</button>
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="13" class="text-center">No lead details available.</td>
</tr>
{% endfor %}
{% endblock %}

{% block table_actions %}
<a href="{% url 'delete_lead' %}" class="btn btn-sm btn-danger">
    <i class="fas fa-trash"></i> Delete
</a>
{% endblock %}
