{% extends "components/base_table.html" %}

{% block page_title %} {{COM_AICHA}} | Products{% endblock %}

{% block table_title %}The list of all products{% endblock %}

{% block search_bar %}
<form class="d-flex" method="GET" action="{% url 'search_product' %}">
    {% csrf_token %}
    <input type="search" aria-label="Search" name="searched" id="searched" class="form-control me-2" placeholder="Search...">
    <button class="search-button btn btn-primary" type="submit">Search</button>
</form>
{% endblock %}

{% block table_headers %}
    <th>Product id</th>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>Volume Price</th>
    <th>Actions (Product)</th>
{% endblock %}

{% block table_rows %}
                    {% for item in items %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.unit_price }}</td>
                        <td>{{ item.volume_price }}</td>
                        <td>
                        <a href="{% url 'user_list' %}" class="btn btn-sm btn-customm" >Edit</a>
                    <a href="{% url 'product_delete' item.item %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Delete</a>
                        </td>
                
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="13" class="text-center">No product available.</td>
                    </tr>
                    {% endfor %}
{% endblock %}

{% block table_actions %}
<!-- Optional global actions for products can go here if needed -->
{% endblock %}
