{% extends "components/base_table.html" %}

{% block page_title %} {{COM_AICHA}} | Reception Notes{% endblock %}

{% block table_title %}All Reception Notes{% endblock %}

{% block search_bar %}
<form class="d-flex" method="GET" action="{% url 'search_bonreception' %}">
    {% csrf_token %}
    <input type="search" aria-label="Search" name="searched" id="searched" class="form-control me-2" style="max-width: 200px;" placeholder="Search by name...">
    <button class="search-button btn btn-primary" type="submit" style="font-size: 12px; padding: 0.25rem 0.5rem;">Search</button>
</form>
{% endblock %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% block table_headers %}
                        <th>ID</th>
                        <th>date</th>
                        <th>address</th>
                        <th>supplier</th>
                        <th>Actions</th>
{% endblock %}
{% block table_rows %}
                    {% for bonreception in bonreceptions %}
                    <tr>
                        <td>{{ bonreception.delivery }}</td>
                        <td>{{ bonreception.delivery_date }}</td>
                        <td>{{ bonreception.delivery_address }}</td>
                        <td>{{ bonreception.supplier_id.supplier_name }}</td> 
                        <td>
 <a href="{% url 'update_bonreception' bonreception.delivery %}" cclass="btn btn-sm btn-custom">Edit</a>
<a href="{% url 'delete_bonreception' bonreception.delivery %}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="13" class="text-center">No reception note available with that data.</td>
                    </tr>
                    {% endfor %}
{% endblock %}
