{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-... your hash ..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% static 'main.js' %}"></script>
    <title>COM ARKEYEZ | stock</title>
</head>
<body>    <nav class="navbar navbar-expand-lg navbar-light" style="background: #103cbe;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" >ARKEYEZ</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item text-dark font-weight-bold">
            <a href="{% url 'logout_view' %}" > <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom me-10" style="min-width: 75x;"> logout </button></a>
        </li> <span> </span >
        <li class="nav-item text-dark font-weight-bold">
            <a href="{% url 'home' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> Home </button> </a>
        </li>
        <li class="nav-item text-dark font-weight-bold">
         <a href="{% url 'stock' %}" > <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom me-10" style="min-width: 75x;"> stock </button></a>
     </li> <span> </span >
     <li class="nav-item text-dark font-weight-bold">
         <a href="{% url 'doc' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> documents </button> </a>
     </li>
     <li class="nav-item text-dark font-weight-bold">
      <a href="{% url 'partners' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> partners </button> </a>
  </li>
    </ul>
            <div class="search-container">
                <form class="d-flex" method="GET" action="{% url 'search_product' %}">
                    {% csrf_token %}
                    <input type="search" aria-label="Search" name="searched" id="searched" class="form-control me-2" style="max-width: 200px;" placeholder="Search by product name...">
                    <button class="search-button btn btn-primary" type="submit" style="font-size: 12px; padding: 0.25rem 0.5rem;">Search</button>
                </form>
            </div>
        </div>
</nav>
    <!----------------------- Main Container -------------------------->

     <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!-------------------- ------ Right Box ---------------------------->
        
          <div class="row align-items-center">
            <div class="search-container">
                <form class="d-flex" method="GET" action="{% url 'search_product' %}"> 
                    {% csrf_token %}
                    <input type="search" aria-label="Search" name="search" id="search" class="form-control me-2" placeholder="Search by product name...">
                    <button class="search-button btn btn-primary" type="submit">Search</button>
                </form>
            </div>
                <div class="header-text mb-4">
                     <h3>the stock level</h3>
                     <p>Total Quantity Available: {{ total_quantity }}</p> 
                </div> 
                    <div class="container mt-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>product namr</th>
                                    <th>variant name</th>
                                    <th>variant value</th>
                                    <th>quantity available</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in stocks %}
                                <tr>
                                  <td>{{ stock.item.product_name }}</td>
                                  <td>{{ stock.item_variant.variant_name }}</td>
                                  <td>{{ stock.item_variant.variant_value }}</td>
                                  <td>{{ stock.quantity_available }}</td>
                                    {% empty %}
                                    <tr>
                                        <td colspan="11">No products are available.</td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                   </div>
                </div>
                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'delete_lead' %}">
                    <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Delete</button>
                    </a>
                </div>
               
          </div>
       </div> 
      </div>
    </div>

    
    <footer class="mt-5 bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>ARKEYEZ is a startup offering ERP and CRM solutions to streamline work, making it digital and efficient.</p>
                    <div>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="text-white"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">About</a></li>
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                        <li><a href="#" class="text-white">Help</a></li>
                        <li><a href="#" class="text-white">Terms & Conditions</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker me-2"></i>Tunisia, Tataouine Nord, Cyber Park 3200</li>
                        <li><i class="fa fa-phone me-2"></i><a href="tel:20 890 113" class="text-white">20 890 113</a></li>
                        <li><i class="fa fa-envelope me-2"></i><a href="mailto:info@arkeyes.com" class="text-white">info@arkeyes.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-white bg-dark py-2">
        <p>&copy; 2024 Aicha Khorchani. All rights reserved.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>