{% extends "components/base_table.html" %}

{% block page_title %}{{COM_AICHA}} | Suppliers{% endblock %}

{% block table_title %}The List of All Suppliers{% endblock %}

{% block search_bar %}
<div class="search-container">
    <form class="d-flex" method="GET" action="{% url 'search_supplier' %}">
        {% csrf_token %}
        <input type="search" aria-label="Search" name="search" id="search" class="form-control me-2" placeholder="Search by product name...">
        <button class="search-button btn btn-primary" type="submit">Search</button>
    </form>
</div>
{% endblock %}

{% block table_headers %}
<th>Name</th>
<th>Contact</th>
<th>Address</th>
<th>Category</th>
<th>Payment</th>
<th>Quality</th>
<th>Cost</th>
<th>Interaction</th>
<th>Feedback</th>
<th>Actions</th>
{% endblock %}

{% block table_rows %}
{% for supplier in suppliers %}
<tr>
    <td>{{ supplier.supplier_name }}</td>
    <td>{{ supplier.contact_info }}</td>
    <td>{{ supplier.address }}</td>
    <td>{{ supplier.categories_supplied }}</td>
    <td>{{ supplier.payment_terms }}</td>
    <td>{{ supplier.product_quality }}</td>
    <td>{{ supplier.cost }}</td>
    <td>{{ supplier.interaction_quality }}</td>
    <td>{{ supplier.feedback }}</td>
    <td>
        <a href="{% url 'updatesupplier' supplier.supplier_id  %}">
            <button class="btn btn-sm btn-custom">Edit</button>
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="10" class="text-center">No suppliers available</td>
</tr>
{% endfor %}
{% endblock %}

{% block table_actions %}
<div class="input-group mb-3 d-flex justify-content-center">
    <a href="{% url 'delete_supplier' %}" class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i> Delete supplier
    </a>
</div>
{% endblock %}
