{% extends "components/base2.html" %}
{% load static %}

{% block title %}Home | ARKEYEZ{% endblock %}

{% block content %}
        <div class="row align-items-center">
            <div class="header-text mb-4">
                <h2>Hello Again</h2>
                <p>We are happy to have you back.</p>
                <p>Manage your documents in one place.</p>
            </div>

            <div class="input-group mb-3 d-flex justify-content-center">
                <a href="{% url 'invoice' %}">
                    <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">
                        Invoice
                    </button>
                </a>
            </div>

            <div class="input-group mb-3 d-flex justify-content-center">
                <a href="{% url 'all_retour' %}">
                    <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">
                        Return
                    </button>
                </a>
            </div>

            <div class="input-group mb-3 d-flex justify-content-center">
                <a href="{% url 'all_bonreception' %}">
                    <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">
                        Reception
                    </button>
                </a>
            </div>

</div>

{% endblock %}
