{% extends "base.html" %}
{% load static %}

{% block title %}COM ARKEYEZ | Edit Note{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-- Left Box -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <img src="{% static 'images/1.png' %}" class="img-fluid" style="width: 250px;" alt="Your Image">
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Go Digital</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">
                Enjoy a better experience with ARKEYEZ Customer Sales Order Management System
            </small>
        </div>

        <!-- Right Box -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h3>Edit Your Note</h3>
                </div>

                <form method="POST" id="editNoteForm">
                    {% csrf_token %}
                    <label for="customer_id" class="form-label">Select Customer:</label>
                    <select name="customer_id" id="customer_id" class="form-select" required>
                        <option value="" disabled selected>Choose a customer</option>
                        {% for customer in customers %}
                            <option value="{{ customer.id }}">{{ customer.customer_name }}</option>
                        {% endfor %}
                    </select>

                    <label for="command_id" class="form-label">Select Command:</label>
                    <select id="command" name="command_id" class="form-select" required>
                        <option value="" disabled selected>Choose a command</option>
                    </select>

                    <div class="input-group mb-3 mt-3">
                        <textarea id="note" name="note" class="form-control form-control-lg" rows="3" placeholder="Meeting Note" required></textarea>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">
                            Edit Note
                        </button>
                    </div>
                </form>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'get_command' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">
                            Show All Orders
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'add_note.js' %}"></script>
{% endblock %}
