{% extends "components/base2.html" %}
{% load static %}

{% block content %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>{{Hello_TITLE}}</h2>
                    <p>{{Hello_SUBTITLE}}</p>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'stock' %}">
                        <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Invoice</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'doc' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Documents</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'partners' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Partners</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'admin' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Admin Feature</button>
                    </a>
                </div>

</div>

{% endblock %}

