{% extends "components/base2.html" %}
{% load static %}

{% block title %}{{COM_AICHA}} | Dashboard{% endblock %}

{% block content %}
<div class="row align-items-center">

    <div class="header-text mb-4 text-center">
        <h2>Hello, Again</h2>
        <p>We are happy to have you back.</p>
        <p>Manage your documents in one place</p>
    </div>

    <div class="d-flex flex-column align-items-center w-100">

        <div class="input-group mb-3 w-75">
            <a href="{% url 'add_facture' %}" class="w-100">
                <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Invoice</button>
            </a>
        </div>

        <div class="input-group mb-3 w-75">
            <a href="{% url 'add_command' %}" class="w-100">
                <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Order</button>
            </a>
        </div>

        <div class="input-group mb-3 w-75">
            <a href="{% url 'get_all_factures' %}" class="w-100">
                <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Show All Invoices</button>
            </a>
        </div>

        <div class="input-group mb-3 w-75">
            <a href="{% url 'get_command' %}" class="w-100">
                <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Show All Orders</button>
            </a>
        </div>

        <div class="input-group mb-3 w-75">
            <a href="{% url 'sales_dashboard_page' %}" class="w-100">
                <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Sales Dashboard</button>
            </a>
        </div>

    </div>

</div>
{% endblock %}
