{% extends "components/base2.html" %}
{% load static %}

{% block title %}COM ARKEYEZ | Leads{% endblock %}

{% block content %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hello, Again</h2>
                    <p>We are happy to have you back...</p>
                    <p>Leads section</p>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'add_lead' %}">
                        <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Lead</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'all_Details' %}">
                        <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Show Lead's Details</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'add_data' %}">
                        <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Lead's Details</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'all_leads' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Show All Leads</button>
                    </a>
                </div>
</div>
{% endblock %}
