{% extends "components/base2.html" %}
{% load static %}

{% block title %}{{COM_AICHA}} |  Home{% endblock %}

{% block content %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>  {{ GO_DIGITAL_TITLE }}</h2>
                    <p> {{ GO_DIGITAL_SUBTITLE }}</p>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'get_command' %}">
                        <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Consult Orders</button>
                    </a>
                </div>

                <div class="input-group mb-3 d-flex justify-content-center">
                    <a href="{% url 'add_note' %}">
                        <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Add Notes</button>
                    </a>
                </div>
</div>
{% endblock %}
