{% extends "components/base2.html" %}
{% load static %}

{% block title %}{{COM_AICHA}} | Home{% endblock %}

{% block content %}
<div class="row align-items-center">

    <div class="header-text mb-4">
                    <h2>  {{ GO_DIGITAL_TITLE }}</h2>
                    <p> {{ GO_DIGITAL_SUBTITLE }}</p>
        <p>Manage your documents in one place</p>
    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'add_supplier' %}">
                            <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Add supplier</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'supplier_list' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;">Show all suppliers</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'allcustomers' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;">Show all customers</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'leads.html' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Leads</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'add_customer' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add customer</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'add_delivery' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;">Add delivery</button>
                        </a>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center">
                        <a href="{% url 'productivity_dashboard_page' %}">
                            <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;">Productivity Dashboard</button>
                        </a>
                    </div>


    </div>

{% endblock %}
