{% extends "components/base2.html" %}
{% load static %}

{% block title %}Products | ARKEYEZ{% endblock %}

{% block content %}
<div class="row align-items-center">

    <div class="header-text mb-4">
        <h2>Hello, Again</h2>
        <p>We are happy to have you back.</p>
        <p>Manage your documents in one place</p>
    </div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <a href="{% url 'addproduct' %}">
            <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Product</button>
        </a>
    </div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <a href="{% url 'addvariant' %}">
            <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Add Variant</button>
        </a>
    </div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <a href="{% url 'all_items' %}">
            <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 200px;">Show All Products</button>
        </a>
    </div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <a href="{% url 'get_stock_levels' %}">
            <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Show Stock</button>
        </a>
    </div>

    <div class="input-group mb-3 d-flex justify-content-center">
        <a href="{% url 'stock_dashboard_page' %}">
            <button class="btn btn-lg btn-primary w-75 fs-6 btn-custom" style="min-width: 200px;">Stock Dashboard</button>
        </a>
    </div>

</div>
{% endblock %}
