{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-... your hash ..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>COM ARKEYEZ | delivery note</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #103cbe;">
        <div class="container-fluid">
            <a class="navbar-brand text-white fw-bold" href="#">ARKEYEZ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'stock' %}">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'doc' %}">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'partners' %}">Partners</a>
                    </li>
                </ul>
                <form class="d-flex" method="GET" action="{% url 'search_bonreception' %}">
                    {% csrf_token %}
                    <input type="search"  name="searched" id="searched" class="form-control me-2"  placeholder="Search by reception note...">
                    <button class="search-button btn btn-primary" type="submit" >Search</button>
                </form>
                <a class="btn btn-outline-light ms-2" href="{% url 'logout_view' %}">Logout</a>
            </div>
        </div>
    </nav>
                
    <!----------------------- Main Container -------------------------->
   <!-- Main Container -->
   <div class="container min-vh-100 py-5">
    <form method="POST">
        {% csrf_token %}
        <div class="row g-4">
            <!-- Left Section -->
            <div class="row border rounded-5 p-4 bg-white shadow">
                <div class="col-md-6 d-flex flex-column" style="background-color: #103cbe; color: black;">
                        <h5 class="mb-4">enter the reception note modification</h5>
             
                    <div class="mb-3">
                        <label for="delivery_address" class="form-label">Reception address</label>
                    <input type="text"  id="delivery_address" name="delivery_address" class="form-control form-control-lg bg-light fs-6"  required>
            </div>
           
                    <div class="mb-3">
                        <label for="delivery_date" class="form-label">reception date</label>
                    <input type="date"  id="delivery_date" name="delivery_date" class="form-control form-control-lg bg-light fs-6" >
                </div>
                <label for="supplier_id" class="form-label">Select Supplier:</label>
                <select name="supplier_id" id="supplier_id" class="form-select" required>
                    <option value="" disabled selected>Choose a supplier</option>
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.supplier_id }}">{{ supplier.supplier_name }}</option>
                    {% endfor %}
                </select> 
            </br>
                <label for="item" class="form-label">Select Item:</label>
                <select name="item" id="item" class="form-select" required>
                    <option value="" disabled selected>Choose an item</option>
                    {% for product in products %}
                        <option value="{{ product.item }}">{{ product.product_name }}</option>
                    {% endfor %}
                </select>
            </br>

            <label for="variant" class="form-label">Select Variant:</label>
            <select name="variant" id="variant" class="form-select" required>
                <option value="" disabled selected>Choose a variant</option>
                {% for variant in variants %}
                    <option value="{{ variant.variant_id }}">{{ variant.variant_value }}</option>
                {% endfor %}
            </select>
        </br>
            </div>

    <!-------------------- ------ Right Box ---------------------------->
        
                <div class="col-md-6">
                 <h5 class="mb-4">arrival data</h5>
            
                            <div class="mb-3">
                                <label for="quantity_delivered" class="form-label">qantity delivred</label>
                        <input type="text" id="quantity_delivered" name="quantity_delivered" class="form-control form-control-lg bg-light fs-6" required>
                    </div>
        
               
                    <div class="d-flex flex-column justify-content-center mt-3">
                        <button class="btn btn-lg btn-primary w-100" type="submit">update the reception note</button>
                    </div>
            </form>
            <div class="d-flex flex-column justify-content-center mt-3">
                <button class="btn btn-secondary w-100" type="submit">print reception note</button>
        </div>
        <div class="d-flex flex-column justify-content-center mt-3">
            <a href="{% url 'all_bonreception' %}"  class="btn btn-outline-primary w-100">show receptions notes  </a>
        </div>

          </div>
       </div> 
    

    
    <footer class="mt-5 bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>ARKEYEZ is a startup offering ERP and CRM solutions to streamline work, making it digital and efficient.</p>
                    <div>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="text-white me-3"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="text-white"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">About</a></li>
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                        <li><a href="#" class="text-white">Help</a></li>
                        <li><a href="#" class="text-white">Terms & Conditions</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker me-2"></i>Tunisia, Tataouine Nord, Cyber Park 3200</li>
                        <li><i class="fa fa-phone me-2"></i><a href="tel:20 890 113" class="text-white">20 890 113</a></li>
                        <li><i class="fa fa-envelope me-2"></i><a href="mailto:info@arkeyes.com" class="text-white">info@arkeyes.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-white bg-dark py-2">
        <p>&copy; 2024 Aicha Khorchani. All rights reserved.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>