{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-... your hash ..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>COM ARKEYEZ | return</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light" style="background: #103cbe;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" >ARKEYEZ</a>
            <nav class="navbar navbar-expand-lg navbar-light" style="background: #103cbe;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" >ARKEYEZ</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item text-dark font-weight-bold">
                        <a href="{% url 'logout_view' %}" > <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom me-10" style="min-width: 75x;"> logout </button></a>
                    </li> <span> </span >
                    <li class="nav-item text-dark font-weight-bold">
                        <a href="{% url 'home' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> Home </button> </a>
                    </li>
                    <li class="nav-item text-dark font-weight-bold">
                     <a href="{% url 'stock' %}" > <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom me-10" style="min-width: 75x;"> stock </button></a>
                 </li> <span> </span >
                 <li class="nav-item text-dark font-weight-bold">
                     <a href="{% url 'doc' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> documents </button> </a>
                 </li>
                 <li class="nav-item text-dark font-weight-bold">
                  <a href="{% url 'partners' %}"> <button class="btn btn-lg btn-primary w-100 fs-6 btn-custom" style="min-width: 75x;"> partners </button> </a>
              </li>
                </ul>
                <div class="search-container">
                    <form class="d-flex" method="GET" action="{% url 'searchcustomers' %}">
                        {% csrf_token %}
                        <input type="search" aria-label="Search" name="searched" id="searched" class="form-control me-2" style="max-width: 200px;" placeholder="Search by name...">
                        <button class="search-button btn btn-primary" type="submit" style="font-size: 12px; padding: 0.25rem 0.5rem;">Search</button>
                    </form>
                </div>
            </div>
    </nav>

    <!----------------------- Main Container -------------------------->
    <div class="container  min-vh-100">
        <form method="POST">
            {% csrf_token %}
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex  flex-column left-box" style="background: #103cbe;">
                <div class="header-text mb-4">
                </br>
                    <h5>enter return new informations  </h5>
                </div>
               
                <div class="input-group mb-3">
                    <input type="text" id="client" name="client" class="form-control form-control-lg bg-light fs-6" placeholder="Client" required>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="supplier" name="supplier" class="form-control form-control-lg bg-light fs-6" placeholder="supplier" required>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="produit" name="produit" class="form-control form-control-lg bg-light fs-6" placeholder="Produit " required>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="quantite_retournee" name="quantite_retournee" class="form-control form-control-lg bg-light fs-6" placeholder="Quantité retournée" required>
                </div>
            <div class="input-group mb-3">
                <input type="text" id="raison_retour" name="raison_retour" class="form-control form-control-lg bg-light fs-6" rows="3" placeholder="Raison du retour" required>
              </div>
            <div class="input-group mb-3">
                <input type="Date" id="date_retour" name="date_retour" class="form-control form-control-lg bg-light fs-6" placeholder="Date du retour " required>
            </div>
            </div>

    <!-------------------- ------ Right Box ---------------------------->
        
       <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <div class="header-text mb-4">
            </br>
                <h5>return data</h5>
            </div>
                
                    <div class="input-group mb-3">
                        <input type="text" id="livreur" name="livreur" class="form-control form-control-lg bg-light fs-6" placeholder="Livreur" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="Informations_supp" name="Informations_supp" class="form-control form-control-lg bg-light fs-6" placeholder="Informations supplémentaires " required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="numero_c" name="numero_c" class="form-control form-control-lg bg-light fs-6" placeholder="Numéro de commande" required>
                    </div>
                <div class="input-group mb-3">
                    <input type="text" id="statut_retour" name="statut_retour" class="form-control form-control-lg bg-light fs-6" rows="3" placeholder="Statut du retour" required>
                  </div>
                    <div class="input-group mb-3 d-flex justify-content-center">
                        <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;" type="submit">update rutern</button>
                </div>
            </form>
            <div class="input-group mb-3 d-flex justify-content-center">
                <a href="{% url 'all_retour' %}">
                    <button class="btn btn-lg btn-primary w-100 fs-6" style="min-width: 200px;">show all return</button>
                    </a>
                </div>
          </div>
       </div> 
      </div>
    </div>

    
<footer>
    <div class="footer-container">
      <div class="container">
         <div class="sec aboutus">
            <h2>About Us</h2>
            <p>arkeyes is a startup that makes ERP CRM solutions to make your work easier, digital, and more efficient.</p>
            <ul class="sci">
             <li><a href="#"><i class="fa-brands fa-linkedin"r></i></a></li>
             <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
             <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
           </ul>
         </div>
        </div>
    
        
         <div class="container">
         <div class="sec quicklinks">
            <h2>Quick Links</h2>
            <ul>
               <li><a href="#">About</a></li>
               <li><a href="#">Privacy Policy</a></li>
               <li><a href="#">Help</a></li>
               <li><a href="#">Terms & Conditions</a></li>
               <li><a href="#">Contact</a></li>
            </ul>
         </div>
        </div>
    
        <d class="container">
         <div class="sec contact">
            <h2>Contact Us</h2>
            <ul class="info">
               <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                  <span>Tunisia<br>Tataouine Nord<br>Cyber Park 3200</span>
               </li>
               <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>
                  <p><a href="tel:20 890 113">20 890 113</a><br></p>
               </li>
               <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <p><a href="mailto:info@arkeyes.com">info@arkeyes.com</a></p>
               </li>
            </ul>
         </div>
        </div>
    
      </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright 2024 Aicha Khorchani. All rights reserved.</p>
      </div>
</body>
</html>